<div class="container-fluid" ng-controller="loginController" ng-init="init()">
    <div class="row">
        <div class="loginDiv marginAuto col-xl-6 col-lg-6 col-md-6 col-sm-9 col-xs-9">
            <form name="login" >
                <div class="alert-danger alert text-center" ng-show="errorMessage">
                    <span>{{errorMessage}}</span>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <label> Username* : </label>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <input type="text" name="username" ng-model="username" class="form-control" required />
                    </div>
                </div>
                <div class="sepDiv"></div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <label> Password* : </label>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <input type="password" name="password" ng-model="password" class="form-control" required />
                    </div>
                </div>
                <div class="sepDiv"></div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <button type="submit" class="btn btn-info" id="loginBtn" ng-click="signIn()" >Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>